{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/my_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>
      {% block title %}Hello, world!{% endblock %}
    </title>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">
    <button type="button" class="btn btn-md btn-outline-light">To-Do List</button>
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">
          <button type="button" class="btn btn-md btn-outline-light">About</button>
        </a>
      </li>
    </ul>

<!-- start login, logout, signup -->
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}" class="mr-4 text-white">
      <button type="button" class="btn btn-md btn-outline-light">
      <i class="fa fa-sign-out"></i> &nbsp; Sign out
      </button>
    </a>

  <!-- Add To-DO List form will show after login(that's why i kept it into if condition) -->
    <form class="form-inline my-2 my-lg-0" method="POST">
      {% csrf_token %} <!-- cross site request for every token -->
      <input class="form-control mr-sm-2" type="search" placeholder="To-Do Item" aria-label="Search" name="item">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Add To-Do List</button>
    </form>

    {% else %}
    <a href="{% url 'signup' %}" class="mr-4 text-white">
      <button type="button" class="btn btn-md btn-outline-light">
      <i class="fa fa-user-plus"></i> &nbsp; Sign up
      </button>
    </a>

    <a href="{% url 'login' %}" class="mr-4 text-white">
      <button type="button" class="btn btn-md btn-outline-light">
      <i class="fa fa-user"></i> &nbsp; Sign in
      </button>
    </a>
    {% endif %}
<!-- end login, logout, signup -->


  </div>
</nav>
<br>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
