{% extends 'base.html' %}

{% block title %}To-Do List{% endblock %}

{% block content %}
{% if messages %}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissable" role="alert">
      <button class="close" data-dismiss="alert">
          <small><sup>X</sup></small>
      </button>
      {{ message }}
  </div>
  {% endfor %}

{% endif %}
{% if all_items %}

<table class="table table-bordered">
<thead class="thead-dark text-center">
      <tr>
        <th>To-Do List</th>
        <th>UnCross or Cross off</th>
        <th>Delete | Edit</th>
      </tr>
    </thead>
    {% for things in all_items %}
      {% if things.completed %}
        <tr class="table-secondary">
            <td class="striker"><a href="{% url 'edit' things.id %}">{{ things.item }}</a></td>
            <td><center><a href="{% url 'uncross' things.id %}">Uncross</a></center></td>  <!-- item from models.py class -->
            <td><center><a href="{% url 'delete' things.id %}">Delete</a> | <a href="{% url 'edit' things.id %}">Edit</a></center></td> <!-- id from migration. id for every task -->
        </tr>
    {% else %}
        <tr>
            <td><a href="{% url 'edit' things.id %}">{{ things.item }}</a></td>
            <td><center><a href="{% url 'cross_off' things.id %}">Cross off</a></center></td>  <!-- item from models.py class -->
            <td><center><a href="{% url 'delete' things.id %}">Delete</a> | <a href="{% url 'edit' things.id %}">Edit</a></center></td>
        </tr>
        {% endif %}
    {% endfor %}
</table>
{% endif %}
{% endblock %}
